body {
    background-color: black;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .container {
    margin: 0 auto;
    /* */
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    font-size: 20px;
  }
/* 
  p {
    color: white;
  }

  h1 {
    color: white;
  } */

  header a {
    color: white;
 }

 .header-links {
  padding: 24px 0;
  text-align: center;
  border-radius: 25px;
 }

.header-links hr {
  width: 100%;
}

.welcome {
    background-image: url("https://sportishka.com/uploads/posts/2023-12/1701468240_sportishka-com-p-samii-krasivii-sport-oboi-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.welcome img {
    width: 100%;
    height: 100%;
}

.welcome-inner {
    text-align: center;
    justify-content: space-between;
    margin-top: 100px;
}

.welcome-inner h1 {
    color: red;
    font-family: cursive;
}

.welcome-inner p {
    color: white;
    font-size: 25px;
    text-shadow: 3px 2px black;
}

.on h2 {
  color: white;
}

.draft img {
  margin-left: 0;
  margin-right: 24px;

}


/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #e73700;
}
h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

.news-1 img {
  margin-left: 50px;
  /* width: 650px;
  height: 400px; */
  
}






/* @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    --color-text: #000;
    --color-bg-view-1: #9da0dd;
    --color-bg-view-2: #6a6468;
    --color-link: #000;
    --color-link-hover: #000;
    --color-button: #000;
    --color-button-hover: #22267d;
    color: var(--color-text);
    background-color: var(--color-bg-view-1);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.wrapper {
    overflow-y: auto;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
a:focus {
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    background: transparent;
}

a:focus-visible {
    outline: 2px solid #fff;
    background: transparent;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
  @media(max-width: 576px) {
    grid-auto-rows: min-content;
    grid-template-rows: auto;
  }
}

.button {
    color: var(--color-button);
    border-radius: 30px;
    min-width: 150px;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
}

.button:hover,
.button:focus-visible {
    color: var(--color-button-hover);
}

.frame--view-open .button-open {
    opacity: 0;
    pointer-events: none;
}

.view {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
}

.view--1 {
    display: flex;
    justify-content: space-around;
}

.view--1 p {
    text-align: left;
    margin-bottom: 30px;
}

.view--2 {
    background: var(--color-bg-view-2);
    pointer-events: none;
    opacity: 0;
}

.view.view--open {
    pointer-events: auto;
    opacity: 1;
}

.overlay {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 1000;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 0;
    position: relative;
}

p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  @media(max-width:576px) {
    max-width: 300px;
  }
}

img {
    position: absolute;
    max-width: 100%;
    height: 200px;
    top: 0;
    z-index: -1;
    right: 500px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
 */


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

body{
  background-color: #141414;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.item h1 {
  color: white;
  text-shadow: 2px 1px black;
  font-size: 15px;
  text-align: center;
}

.item p {
  font-size: 12px;
  color: white;
  text-shadow: 2px 1px black;
  text-align: center
}

.items{
  display: flex;
  font-size: 3px;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item{
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}






.slides {
  width: 100%;
  height: 500vh;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding-left: 250px;
  padding-right: 250px;
}

/* .mySlides img {
  max-width: 1000px;
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



aside {
  background-color: skyblue;
  width: 100%;
  height: 100%;
}

#products {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
} 

.card-button {
  width: 200px;
  height: 70px;
  text-align: center;
  color: white;
  background-color: burlywood;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.card-button span {
  text-shadow: 2px 2px black;
  font-size: 20px;
  text-align: center;
}

aside {
  width: 15%;
}

#products {
  width: 100%;
}

.products-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  margin: 10px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 10% 0;
}

.product-text {
  color: black;
}

.product img {
  width: 60%;
}

.home-page-news {
  /* margin: 2em auto;
  overflow: hidden; */
  clear: both;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.home-page-news span {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  line-height: 1.2rem;
  font-size: 12px;
  font-weight: 400;
  background-color: #14ade4;
}

.large-red {
  background-image: url("https://sportishka.com/uploads/posts/2021-11/1637362728_53-sportishka-com-p-dzhordan-basketbolist-komandnii-sport-foto-54.jpg");
    position: absolute;
    transition: width 0.5s ease 0s, height 0.5s ease 0s;
    opacity: 1;
    width: 577.5px;
    height: 577.5px;
    top: 0px;
    left: 0px;
}

.medium-blue {
  background-image: url("https://sportishka.com/uploads/posts/2022-11/1667482166_55-sportishka-com-p-velikie-basketbolisti-krasivo-64.jpg");
  position: absolute;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  opacity: 1;
  width: 577.5px;
  height: 286.25px;
  top: 0px;
  left: 582.5px;
}

.small-green {
  background-image: url("https://www.dlso.it/site/wp-content/uploads/2015/03/Michael-Jordan-45.jpg");
  position: absolute;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  opacity: 1;
  width: 286.25px;
  height: 286.25px;
  top: 291.25px;
  left: 582.5px;
}

.brick-small-green {
  background-image: url("https://i.pinimg.com/736x/94/34/7f/94347f7ce51dd11d40c4a8f56ccd0af2.jpg");
  position: absolute;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  opacity: 1;
  width: 286.25px;
  height: 286.25px;
  top: 291.25px;
  left: 873.75px;
}

.brick-medium-blue {
  background-image: url("https://i.pinimg.com/736x/38/6b/e4/386be4d8e281bef1dcb51105379053b0.jpg");
    position: absolute;
    transition: width 0.5s ease 0s, height 0.5s ease 0s;
    opacity: 1;
    width: 577.5px;
    height: 286.25px;
    top: 582.5px;
    left: 0px;
}

.small-green2 {
    background-image: url("https://photosota.club/uploads/posts/2023-02/1676686415_photosota-club-p-maikl-dzhordan-basketbolist-45.jpg");
    position: absolute;
    transition: width 0.5s ease 0s, height 0.5s ease 0s;
    opacity: 1;
    width: 286.25px;
    height: 286.25px;
    top: 582.5px;
    left: 582.5px;
}

.brick-small-green2 {
  background-image: url("https://www.kino-teatr.ru/acter/album/93507/1159286.jpg");
  position: absolute;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  opacity: 1;
  width: 286.25px;
  height: 286.25px;
  top: 582.5px;
  left: 873.75px;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media (orientation: landscape), (min-width: 200px) {
  .header {
    width: 100px;
  }
  a {
    font-size: 50px;
  }
}


@media (orientation: portrait) and (max-width: 450px) {
  .container {
    width: 380px;
  }
  header a {
    font-size: 80px;
  }
  .welcome {
    background-image: url("https://sportishka.com/uploads/posts/2022-11/1667465197_40-sportishka-com-p-maikl-dzhordan-znamenitii-prizhok-vkontakt-45.jpg");
  }
  p {
    font-size: 50px;
  }
  h1 {
    font-size: 100px;
  }
  a {
    font-size: 150px;
  }

  img {
    height: 200px;
    width: 250px;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  header a {
    font-size: 40px;
  }
  p {
    font-size: 35px;
  }
  h1 {
    font-size: 50px;
  }
}
